:root {
	--background: #000039;
	--text-color: white;
}

nav {
	position: sticky;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 15px 25px;
	background: var(--background);
	box-shadow: inset 0px -1px 0px var(--background);
	color: var(--color-white);
}