@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:ital,wght@0,200;0,400;0,500;1,300&display=swap');

/*************************************************************************
 *                            Variables setup
 *************************************************************************/
:root {
	--bg-color: #122958;
	--text-color: whitesmoke;
}

/*************************************************************************
 *                                 Reset
 *************************************************************************/
*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	height: 100%;
	overflow: hidden;
}

header, section {
	width: 100%;
	padding: 0 15%;
}

/*************************************************************************
 *                              RESPONSIVE
 *************************************************************************/

@media (max-width: 1200px) {
	body {
		margin: 0 7%;
	}
}

@media (max-width: 800px) {
	body {
		margin: 0 2%;
	}
}

a {
	text-decoration: none;
	color: var(--text-color);
}

/*************************************************************************
 *                            NAVIGATION BAR
 *************************************************************************/

nav {
	position: sticky;
	width: 100%;
	padding: 25px 25px;
	display: flex;
	align-items: center;
	background-color: transparent;
	color: var(--text-color);
	font-family: Montserrat, sans-serif;
	z-index: 9999;
}

.nav-container {
	width: 100%;
/*	height: 100%;*/
	margin: 0 15%;
	display: flex;
	align-items: center;
	position: static;
}

.nav-menu {
	/*display: none;*/
	/*opacity: 0;*/
	display: flex;
	opacity: 0;
	z-index: -1;
	width: 100%;
	margin-left: auto;
	justify-content: right;

	/* Ou passer par gsap et js ? */
	transform: translateX(30px);
	transition-property: opacity, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.nav-menu.show {
	z-index: 9999;
	transform: translateX(-5px);
	opacity: 1;
	/*opacity: 1;
	display: flex;*/
}

.nav-item {
	margin: 0 3%;
	font-size: 15px;
	font-weight: 500;
	color: var(--text-color);
	display: inline-block;
	position: relative;
}

.nav-item::before {
	content: "# ";
	display: inline-block;
	position: absolute;
	left: -15px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-out;
}

.nav-item::after {
	content : '';
	display: block;
	position: absolute;
	bottom: -3px;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease-out;
	background-color: var(--text-color);
}

.nav-item:hover::before {
	transform: scaleX(1.0);
}


.nav-item:hover::after {
	transform: scaleX(1);
}

/*************************************************************************
 *                            Hamburger button
 *************************************************************************/

.hamburger {
	width: 20px;
	height: 20px;

	display: flex;
	align-items: center;
	position: relative;

	cursor: pointer;
	background-color: var(--bg-color);
	margin-left: auto;
}

.hamburger span {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--text-color);
	pointer-events: none;
	transition: opacity 0.3s ease-out;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
	transition: transform 0.3s ease-out;
}

.hamburger span:nth-child(1) {
	transform: translateY(-7px);
}

.hamburger span:nth-child(3) {
	transform: translateY(7px);
}

.hamburger.show span:nth-child(2) {
	opacity: 0;
	transition: opacity 0s ease-out;
}

.hamburger.show span:nth-child(1) {
	transform: translate(0) rotate(135deg); 
}

.hamburger.show span:nth-child(3) {
	transform: translate(0) rotate(-135deg); 
}

/*************************************************************************
 *                                 HEADER
 *************************************************************************/

header {
	height: 100vh;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 100;
/*	display: grid;
	grid-template-columns:  1fr 2fr;
	grid-column-gap: 10px;*/

}

.tagline-container {
	height: 100%;
	width: 100%;
	position: relative;

}

.tagline {
	font-family: Roboto, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
}


/*header .stage {
	width: 100%;
	height: 100%;
}

header .animation-container {
	position: relative;
	margin: 40px;
	display: flex;
	align-items: center;
	justify-content: safe center;
}

.brainImg {
	position: absolute;
	margin: auto;
	height: 70%;
	max-height: 70%;
	max-width: 70%;
}*/






